mat-grid-tile {
    background: lightblue;
  }
  mat-grid-list{
    height: 100%;
  }
svg{
  width: 25px !important;
  height: 25px !important;
  line-height: normal;
  display: flex;
  align-content: center;
  padding-top: 13px;
  padding-left: 14px;
}
.icon{
  margin: 24px;
  background-color: rgb(211, 236, 245);
  border-radius: 50%;
  height: 50px;
}
.icon-content{
  padding-top: 30px;
}
.icon-content p .main{
   font-family: Open Sans,Helvetica Neue,Roboto,Arial,sans-serif;
   font-weight: bold;
   font-size: 24px;
   color: black;
}
.user-icon{
  height: 65px;
  background-color: lightgray;
  border-radius: 50%;
  border: 1px solid #9c0ecc;
  border-radius: 50%;
  background: linear-gradient(to bottom, rgb(61 168 243 / 87%) 0%, #f38fbb 100%);
}
.user-icon mat-icon{
  font-size: 45px;
  height: 45px;
  width: 45px;
  padding-left: 10px;
  padding-top: 8px;
}
.user-icon p{
  padding-top: 5px;
  color: gray;
  text-align: center;
}

.icon-content p {
  font-family: Open Sans,Helvetica Neue,Roboto,Arial,sans-serif;
  color: gray;
}



  .dashboard{
    left: 5%;
    top: 12%;
    height: 88%;
    width: 95%;
    position: relative;
  }
  #chart-pie, #chart-bar,#chart-line{
    height: 95%;
  }
  #chart-table{
    width: 95%;
    height: 94%;
  }