<mat-toolbar class="navbar" style="height: 10%; box-shadow: 1px solid red">
  <img src="../../../assets/logo.png" width="60" height="60" />
  <span class="header">Conversales</span>
  <span class="example-spacer"></span>
  <h4>Good Morning... HK!!</h4>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>

  <span class="example-spacer"></span>
  <button mat-stroked-button class="campaign-button">
    <mat-icon class="campaign">campaign</mat-icon>
  </button>
  <span class="example-spacer"></span>
  <button mat-raised-button class="button">
    <span class="badge">GA</span>Hk
  </button>
  <span class="example-spacer"></span>
  <mat-icon class="notification" matBadge="15">notifications</mat-icon>
  <span class="example-spacer"></span>
  <mat-icon class="red">power_settings_new</mat-icon>
</mat-toolbar>
